<div class="container-fluid my-1">
    {{> Back/Manual/Manual1}}
    {{> Back/Manual/Manual2}}
    {{> Back/Manual/Manual3}}
    {{> Back/Manual/Manual4}}
    {{> Back/Manual/Manual5}}
</div><!-- container-fluid -->