<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="People">ประชาชน</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดปุ่ม ”ประชาชน” ในริชเมนุ จะเห็นหน้าจอ</p>
        <p><img src="/manual/TeamMember/21-people.jpg" alt="People" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="AddPeople">เพิ่มประชาชน</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “เพิ่ม” จะเห็นหน้าจอ</p>

        <p><img src="/manual/TeamMember/22-add-people-1.jpg" alt="Add People 1" class="w-100"></p>
        <p>ป้อนข้อมูลตามลำดับ </p>
        <p>ถ้าป้อนรหัสไปรษณีย์ครบ 5 หลัก จะกรองจังหวัด อำเภอ/เขต ตำบล/แขวง ของรหัสไปรษณีย์นั้น</p>

        <p><img src="/manual/TeamMember/23-add-people-2.jpg" alt="Add People 2" class="w-100"></p>

        <p>วันเกิด ป้อนในรูปแบบ วัน/เดือน/ปี พ.ศ. หรือ ค.ศ. ก็ได้ </p>
        <p>ถ้าป้อนปี ค.ศ. จะแปลงเป็น พ.ศ. ให้อัตโนมัติ</p>
        <p><img src="/manual/TeamMember/25-date.jpg" alt="Date"></p>

        <p><img src="/manual/TeamMember/24-add-people-3.jpg" alt="Add People 3" class="w-100"></p>

        <p>กดปุ่ม “เลือกไฟล์” จะเห็นปุ่ม</p>
        <p><ul>
            <li>“กล้องถ่ายรูป” ใช้สำหรับถ่ายรูป </li>
            <li>“เครื่องมือเลือกไฟล์” ใช้เลือกไฟล์ที่มีอยู่ <br>ไฟล์รูปภาพต้องมีขนาดไม่เกิน 10 MB</li>
        </ul></p>
        <p><img src="/manual/TeamMember/26-picture.jpg" alt="Picture" class="w-100"></p>

        <p>ในบรรทัด “ชื่อสถานที่” ป้อนชื่อ แล้วเลือกสถานที่</p>
        <p><img src="/manual/TeamMember/27-entry-place.jpg" alt="Entry Place" class="w-100"></p>

        <p>เมื่อเลือกสถานที่แล้ว จะอัพเดท Latitude และ Longitude ตามสถานที่ที่เลือก</p>
        <p><img src="/manual/TeamMember/28-update-lat-long.jpg" alt="Update Lat Long" class="w-100"></p>

        <p>ป้อนข้อมูลครบแล้ว กดปุ่ม “บันทึก”</p>
        <p>ถ้าต้องการยกเลิกการป้อน กดปุ่ม “ยกเลิก”</p>
    </div><!-- card-body -->
</div><!-- card -->

