<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="PeopleList">รายชื่อประชาชน</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “รายชื่อ” จะเห็นรายชื่อประชาชนที่คุณเพิ่ม</p>
        <p><img src="/manual/TeamMember/31-people-list.jpg" alt="People List" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="ViewPeople">ดูประชาชน</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “ดู” ในบรรทัดประชาชนที่ต้องการ จะเห็นหน้าจอ</p>
        <p><img src="/manual/TeamMember/32-view-people-1.jpg" alt="View People 1" class="w-100"></p>
        <p><img src="/manual/TeamMember/33-view-people-2.jpg" alt="View People 2" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="EditPeople">แก้ไขประชาชน</a></h3>
    </div><!-- card-header -->  
    <div class="card-body">
        <p>กดที่ “แก้ไข” ในบรรทัดประชาชนที่ต้องการ จะเห็นหน้าจอ</p>
        <p><img src="/manual/TeamMember/34-edit-people-1.jpg" alt="Edit People 1" class="w-100"></p>
        <p><img src="/manual/TeamMember/35-edit-people-2.jpg" alt="Edit People 2" class="w-100"></p>

        <p>รายละเอียดเกี่ยวกับฟิลด์ต่าง ๆ เหมือนการเพิ่มประชาชน</p> 
        <p>แก้ไขข้อมูลเสร็จแล้ว กดปุ่ม “บันทึก”</p>
        <p>ถ้าต้องการยกเลิกการแก้ไข กดปุ่ม “ยกเลิก”</p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="SearchPeople">ค้นหาประชาชน</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “รายชื่อ” จะเห็นรายชื่อประชาชนที่คุณเพิ่ม </p>
        <p>กดที่ “เลือกฟิลด์” แล้วเลือกฟิลด์ที่ต้องการค้นหา</p>
        <p><img src="/manual/TeamMember/36-select-field.jpg" alt="Select Field" class="w-100"></p>

        <p>ป้อนคำค้นหาในช่อง “ป้อนคำค้นหา” </p>
        <p>แล้วกดปุ่ม “ค้นหา” จะแสดงผลการค้นหา</p>
        <p><img src="/manual/TeamMember/37-search-term.jpg" alt="Search Term" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->
