<div class="card" style="margin-top: 80px;">
    <div class="card-header">
        <h3 class="card-title"><a name="AddFriend">Add friend My Prachin Team LINE OA</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>ใช้สมาร์ทโฟน เปิดโปรแกรม LINE สแกน QR code </p>
        <p><img src="/manual/TeamMember/11-qr-code.png" alt="LINE QR Code"></p>
        <p>หรือเพิ่มเพื่อนด้วย ID @115ycslb </p>
        <p>หรือกดลิงก์ <a href="https://line.me/R/ti/p/%40115ycslb" target="_blank">https://line.me/R/ti/p/%40115ycslb</a> </p>
        <p><img src="/manual/TeamMember/12-add-friend.png" alt="Add Friend" class="w-100"></p>

        <p>กดปุ่ม “เพิ่มเพื่อน” แล้วกดปุ่ม “แชท” จะเห็นข้อความทักทายเพื่อนใหม่ </p>
        <p>ยินต้อนรับสู่ My Prachin Team LINE OA กรุณาป้อนรหัส”</p>
        <p><img src="/manual/TeamMember/13-chat.png" alt="Chat" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="EditMember">แก้ไขข้อมูลทีมงาน</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>ถ้าต้องการแก้ไขข้อมูลส่วนตัวของทีมงาน กดที่ลิงก์ </p>
        <p><a href="https://liff.line.me/1653771216-2oVpV4bx" target="_blank">https://liff.line.me/1653771216-2oVpV4bx</a></p>
        <p>จะเห็นหน้าจอ</p>
        <p><img src="/manual/TeamMember/14-edit-member-1.jpg" alt="Edit Member 1" class="w-100"></p>
        <p><img src="/manual/TeamMember/15-edit-member-2.jpg" alt="Edit Member 2" class="w-100"></p>

        <p>วันเกิด ป้อนในรูปแบบ วัน/เดือน/ปี พ.ศ. หรือ ค.ศ. ก็ได้ </p>
        <p>ถ้าป้อนปี ค.ศ. จะแปลงเป็น พ.ศ. ให้อัตโนมัติ</p>
        <p><img src="/manual/TeamMember/25-date.jpg" alt="Date"></p>

        <p>แก้ไขข้อมูลทีมงานเสร็จแล้ว กดปุ่ม “บันทึก”</p>
    </div><!-- card-body -->
</div><!-- card -->
