<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="OperationList">รายชื่อปฏิบัติการ</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “รายชื่อ” จะเห็นรายชื่อปฏิบัติการที่คุณเพิ่ม</p>
        <p><img src="/manual/TeamMember/51-operation-list.jpg" alt="Operation List" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="ViewOperation">ดูปฏิบัติการ</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “ดู” ในบรรทัดปฏิบัติการที่ต้องการ จะเห็นหน้าจอ</p>
        <p><img src="/manual/TeamMember/52-view-operation-1.jpg" alt="View Operation 1" class="w-100"></p>
        <p><img src="/manual/TeamMember/53-view-operation-2.jpg" alt="View Operation 2" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="EditOperation">แก้ไขปฏิบัติการ</a></h3>
    </div><!-- card-header -->  
    <div class="card-body">
        <p>กดที่ “แก้ไข” ในบรรทัดปฏิบัติการที่ต้องการ จะเห็นหน้าจอ</p>
        <p><img src="/manual/TeamMember/54-edit-operation-1.jpg" alt="Edit Operation 1" class="w-100"></p>
        <p><img src="/manual/TeamMember/55-edit-operation-2.jpg" alt="Edit Operation 2" class="w-100"></p>

        <p>รายละเอียดเกี่ยวกับฟิลด์ต่าง ๆ เหมือนการเพิ่มปฏิบัติการ</p> 
        <p>แก้ไขข้อมูลเสร็จแล้ว กดปุ่ม “บันทึก”</p>
        <p>ถ้าต้องการยกเลิกการแก้ไข กดปุ่ม “ยกเลิก”</p>
    </div><!-- card-body -->
</div><!-- card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a name="SearchOperation">ค้นหาปฏิบัติการ</a></h3>
    </div><!-- card-header -->
    <div class="card-body">
        <p>กดที่ “รายชื่อ” จะเห็นรายชื่อปฏิบัติการที่คุณเพิ่ม </p>
        <p>กดที่ “เลือกฟิลด์” แล้วเลือกฟิลด์ที่ต้องการค้นหา</p>
        <p><img src="/manual/TeamMember/56-select-field.jpg" alt="Select Field" class="w-100"></p>

        <p>ป้อนคำค้นหาในช่อง “ป้อนคำค้นหา” </p>
        <p>แล้วกดปุ่ม “ค้นหา” จะแสดงผลการค้นหา</p>
        <p><img src="/manual/TeamMember/57-search-term.jpg" alt="Search Term" class="w-100"></p>
    </div><!-- card-body -->
</div><!-- card -->
