<div class="container-fluid border border-light my-1">
<p class="text-danger">{{Label.SorryDuty}}</p>

<a href='/services/{{Provider.ID}}/HR/{{Provider.Language}}' class="'btn btn-info w-100">
    {{Label.PlsSelectAgain}}</a>
</div>