<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Prachin Team Member Manual</title>
    <link rel="icon" type="image/x-icon" href="/media/icon.ico">
	<link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/datepicker.css">
    <link rel="stylesheet" href="/css/bootstrap-dropdownhover.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body style="font-family: Prompt; font-size: 16px;">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top px-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="/back/team/manual">
                <img src="/media/mp-logo.png" alt="My Prachin Team Member Manual">Team Member Manual</a>

            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-0">
                    <li class="nav-item"><a class="nav-link active" href="#AddFriend" role="button">
                        &nbsp; Add friend My Prachin Team LINE OA</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#EditMember" role="button">
                        &nbsp; แก้ไขข้อมูลทีมงาน</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#AddPeople" role="button">
                        &nbsp; เพิ่มประชาชน</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#PeopleList" role="button">
                        &nbsp; รายชื่อประชาชน</a></li>
                    </a></li>
                    <li class="nav-item"><a class="nav-link active" href="#ViewPeople" role="button">
                        &nbsp; ดูประชาชน
                    </a></li>
                    <li class="nav-item"><a class="nav-link active" href="#EditPeople" role="button">
                        &nbsp; แก้ไขประชาชน
                    </a></li>
                    <li class="nav-item"><a class="nav-link active" href="#SearchPeople" role="button">
                        &nbsp; ค้นหาประชาชน
                    </a></li>

                    <li class="nav-item"><a class="nav-link active" href="#AddOperation" role="button">
                        &nbsp; เพิ่มปฏิบัติการ</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#OperationList" role="button">
                        &nbsp; รายชื่อปฏิบัติการ</a></li>
                    </a></li>
                    <li class="nav-item"><a class="nav-link active" href="#ViewOperation" role="button">
                        &nbsp; ดูปฏิบัติการ
                    </a></li>
                    <li class="nav-item"><a class="nav-link active" href="#EditOperation" role="button">
                        &nbsp; แก้ไขปฏิบัติการ
                    </a></li>
                    <li class="nav-item"><a class="nav-link active" href="#SearchOperation" role="button">
                        &nbsp; ค้นหาปฏิบัติการ
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <!-- jQuery 2.2.3 -->
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- SlimScroll -->
    <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/plugins/fastclick/fastclick.js"></script>

    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/bootstrap-datepicker-thai.js"></script>
    <script src="/js/locales/bootstrap-datepicker.th.js"></script>

</body>
</html>

<script>
  $(function () {
  })
</script>
