<div class="row">
    <div class="col-sm-6 col-12">
        <img class="w-100" src="/media/car-rental.jpg">
    </div>
    <div class="col-sm-6 col-12">
        <h1>เช่ารถ</h1>
        <h3 class="text-danger">พิเศษช่วงแนะนำ 10 ร้านแรก ใช้ฟรี 3 เดือน</h3>
        <p>ระบบเช่ารถ ผ่าน Line OA โดยมีฟีเจอร์โดดเด่น ดังนี้</p>
        <ul>
            <li>ใช้งานได้ 3 ภาษา ไทย จีน อังกฤษ</li> 
            <li>มีทั้งแบบเช่ารถขับเอง และแบบรวมคนขับ</li>
            <li>มีตัวเลือก รับ/ส่งรถนอกสถานที่ ประกันภัยเพิ่มเติม</li>
            <li>กำหนดราคาค่าเช่าตามฤดูกาล วันธรรมดากับวันหยุด ราคาต่างกันได้</li>
            <li>คูปองส่วนลด เป็นจำนวนเงินหรือเปอร์เซ็นต์</li>
            <li>รับชำระเงิน ด้วยบัตรเครดิต โอนเงิน (QR code) และอื่น ๆ <br>
                <a href='https://www.chillpay.co/Home/OurChannel' target=_blank>ดูช่องทางต่างๆ ในการชำระเงินของ ChillPay</a></li>
            <li>รับชำระเงิน ด้วยวิธีโอนเงินเข้าบัญชีธนาคารของร้านโดยตรง</li>
            <li>ค่าบริการ มีทั้งแบบรายเดือนและแบบเติมเงิน</li>
        </ul>
        <p><a href="/TestRentalCar/{{FormControl.Language}}" class="btn btn-info btn-lg w-100 mt-3">ลองเช่ารถ จากร้านเช่ารถทดลอง</a></p>
        <p><a href="/ServiceFee/{{FormControl.Language}}" class="btn btn-warning btn-lg w-100 mt-2">ราคาค่าบริการ</a></p>
        <p><a href="/back/provider/OpenRentalCar/th" class="btn btn-success btn-lg w-100 mt-2">เปิดร้านเช่ารถ ทดลองใช้ฟรี</a></p>
    </div>
</div>
<div class="row mt-3 pt-3 border-top">
    <div class="col-sm-6 col-12">
        <h1>คู่มือ</h1>
        <p><a href="/manual/EnterRental-ProviderAdmin-v1.1.0.pdf" target=_blank>
        คู่มือแอดมินผู้ให้บริการ Provider Admin Manual version 1.1.0</a></p>
        <p><a href="/manual/EnterRental-BranchAdmin-v1.1.0.pdf" target=_blank>
        คู่มือแอดมินสาขา Branch Admin Manual version 1.1.0</a></p>
        <p><a href="/manual/EnterRental-OrderAdmin-v1.1.0.pdf" target=_blank>
        คู่มือแอดมินออเดอร์ Order Admin Manual version 1.1.0</a></p>
        <p><a href="/manual/EnterRental-Driver-v1.1.0.pdf" target=_blank>
        คู่มือพนักงานขับรถ Driver Manual version 1.1.0</a></p>
    </div>
    <div class="col-sm-6 col-12">
        <h1>Contact Us</h1>
        <p>ติดต่อสอบถามเพิ่มเติม <i class="fa fa-mobile"></i> <a href="tel:0640812700">0640812700</a> </p>
        <p>LINE ID: <a href="https://line.me/ti/p/IAxP8zXbYn" target="_blank">pasaksoftware</a></p>
        <p><img src="/media/109877.jpg" style="height: 100px;"></p>
        <p><a href="/manual/EnterRental_ประกาศนโยบายคุ้มครองข้อมูลส่วนบุคคลสำหรับลูกค้า.pdf" target="_blank">Privacy notice</a></p>
    </div>
</div>
